*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.bigBackground-w {
    width: 1907px;
    height: 100%;
    margin: auto auto;
}

.main-w1 {
    position: relative;
    top: 32px;
    width: 1000px;
    margin: auto auto;
}

body {
    background-color: #eeede8;
    /* overflow-x: hidden; */
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 10px;
    background-color: #c0bdbd;
}